<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524028558670-odvakh1pouvkgcrvjkup6pc7jk7c1v2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524028558670-odvakh1pouvkgcrvjkup6pc7jk7c1v2u</string>
	<key>API_KEY</key>
	<string>AIzaSyApM2VBVlqsKxreKt7VY9amZGRc4QVGKCM</string>
	<key>GCM_SENDER_ID</key>
	<string>524028558670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ph.cloudpanda.toktok</string>
	<key>PROJECT_ID</key>
	<string>toktok-gcp</string>
	<key>STORAGE_BUCKET</key>
	<string>toktok-gcp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524028558670:ios:34684ea73014add7a2b21f</string>
</dict>
</plist>